* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

body{
  background-image: url("../images/doge-back.jpg");
  font-family: 'Luckiest Guy', cursive;
  height: 100vh;
  /* background-repeat: no-repeat; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: cyan;
  font-size: 4rem;
}
.s1 {
  color: lime;
  font-size: 3rem;
}
.s2 {
  color: Fuchsia;
  font-size: 3rem;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  height: 518px;
  width: 412px:
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}
